@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;
}

/* Menu Navbar*/
.navbarBackground{
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url('../image/logo2.jpg') no-repeat center center fixed;
    height: 800px;
    background-size: cover;
    width: 100%;
    transition:0.5s all;
}
.navbarContainer{
    max-width: 1300px;
    margin:0 auto;
}
.navbar{
    width: 100%;
}
.navbar ul{
    list-style: none;
} 
.navbar label.navbarImage{
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
     padding-left:30px;
    padding-right:10px;
    font-family: 'Alex Brush', cursive;
    text-shadow: 0px 10px 10px #234D3C;
}
.navbar ul{
    float: right;
    margin-right: 20px;
    
}
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
    line-height:80px;
}
.navbar ul li a{
    text-decoration:none; 
    text-transform: uppercase;
    padding: 7px 13px;
    font-size: 16px;
    color: white;
    border-radius: 0px;
}
.navbar ul li a:hover{
    transition: 0.5s;
  /*   background: #A9C3BC; */
    border-top:3px solid rgb(195, 157, 99);
    border-bottom: 3px solid rgb(195, 157, 99);
}
label i.fa-bars{
    display: none;
}
.br {
    display: none;
}
/* Menu Navbar Respomsiveness*/
input{
    display: none;
}
@media(max-width:729px){
    label i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:white;
        float: right;
        line-height: 80px;
    }
   .navbar ul{
        position: fixed;
        width: 100%;
        height: 720px;
        background: #7F7F7F;
        text-align: center;
        transition: all 0s;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    #check:checked~ul{
        left: 0;
    }
    .navbar ul li a:hover{
        border-top:none;
        border-bottom:none;
        border-left:3px solid rgb(195, 157, 99);
        border-right:3px solid rgb(195, 157, 99);
    }
  .navbar label.navbarImage{
    display: block;
    padding: 0px;
    font-size: 20px;
    padding-left: 10px;
    line-height: 20px;
    padding-top:25px;
}
.br{
    padding-top: -5px;
}
}
@media(max-width:172px){
    .navbar ul{
        top:100px;
    }
}

@media(max-width:156px){
    .navbar label.navbarImage{
        font-size: 15px;
    }
}
/*Motto Navbar*/
.motoContainer{
    max-width: 1300px;
    margin:0 auto;
    padding-top:80px;
}
.mottoHeader{
    display: flex;
    justify-content: center;
   
}
.motoContainer br.break{
    display: none;;
}
.mottoHeader h2{
    font-family: 'Tangerine', cursive;
    margin-top:80px;
    color:white;
    font-size:90px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 100px;
}
@media(max-width:729px){
    .mottoHeader 
        {
            max-width: 500px;;
            display: flex;
            justify-content: center;    
        }
    .mottoHeader h2{
        font-size:70px;
    }
}
@media(max-width:452px){
 
    .mottoHeader h2{
        font-size:50px;
        
    }
}
@media(max-width:304px){
    
    .motoContainer br.break{
        display: block;
    }
    .mottoHeader h2{
        font-size:50px;
        line-height: 80px;;
       
    }
}
/*About*/
.aboutContainer{
    max-width: 1300px;
    margin:0 auto;
}
.about{
    margin-top:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left:50px;
    padding-right: 50px;;
}
.text{
    margin-right:70px;
    margin-top:20px;
}
.text h4 span{
    color: #BFBFBF;
    font-size: 15px;
    border-bottom:2px solid rgb(195, 157, 99);
}
.titleText h4{
    margin-bottom: 30px;
 
}
.headerText h2{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
   
}
.headerText{
    margin-bottom: 30px;
}
.bodyText p{
  font-size: 15px;
  line-height: 30px;
}
.bodyText p span.hi{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.image img{
    width: 500px;
    height:800px;
    border-radius:5px;
}
@media(max-width:1172px){
    .hide{
        display: none;
    }
}
@media(max-width:1040px){
    .hideOne{
        display: none;
    }
}
@media(max-width:975px){
    .image img{
        width: 500px;
        border-radius:5px;
    }
}
@media(max-width:952px){
    .hide{
        display: none;
    }
    .hideOne{
        display: none;
    }
    .image img{
        width: 450px;
        height: 800px;
    } 
    .text{
        margin-top:0px;
    } 
}
@media(max-width:873px){
    .bodyText p{
        line-height: 25px;
     } 
}
@media(max-width:867px){
    .image img{
        width: 410px;
        height: 800px;
    } 
   
}
@media(max-width:841px){
    .bodyText p{
        line-height: 25px;
     } 
}
@media(max-width:823px){
   
    .bodyText p{
        font-size: 15px;
        line-height: 20px;
    }
    .hideOne{
        display: none;
    }
}

@media(max-width:823px){
    .image img{
        width: 410px;
        height: 800px;
    } 
   
}
@media(max-width:770px){
    .text{
        margin-right: 30px;
    }
    .image img{
        width: 400px;
        height: 700px;
    } 
}
@media(max-width:729px){
    .about{
    flex-flow: column-reverse;
    }
    .text{
        padding-top:80px;
        margin-right: 0px;
    }
    .titleText h4 span{
            margin-left: 20px;;
    }
    .titleText, .headerText{
        display: flex;
        justify-content: center;    
    }
    .about{
        padding-left:30px;
        padding-right: 30px;;
    }
    .bodyText p{
        text-align: center;
        margin: 0 auto;
     } 
    .image{
        
        display: flex;
        justify-content: center;
    }
    .image img{
        width: 250px;
        height: 350px;
    }  
    }
    @media(max-width:323px){
        .image img{
            width: 220px;
            height: 320px;
        }  
    } 
    @media(max-width:320px){
        .headerText h2{
            font-size: 38px;
        }
    }
 
    @media(max-width:276px){
        .headerText h2{
            font-size: 29px;
        }
        .bodyText p{
            font-size: 12px;
        }
    }
    @media(max-width:272px){
        .image img{
            width: 200px;
            height: 300px;
        } 
    }
    @media(max-width:237px){
        .headerText h2{
            font-size: 25px;
        }
    } 
 
    @media(max-width:227px){
        .image img{
            width: 150px;
            height: 200px;
        }  
    } 
    @media(max-width:171px){
        .image img{
            width: 100px;
            height: 150px;
        }  
    }
/*Menu Introduction*/
.menuIntro{
    margin-top:100px;
    background:  rgba(0,0,0,0.03);
}
.menuIntroContainer{
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 100px; 
}
.menuOne{
    background-color: #ffffff;
}
.introTitle h4, .introHeader h2, .introText p, .introView{  
    text-align: center;
}
.introTitle{
    margin-bottom: 30px;
}
.introTitle h4 span{
    color: #BFBFBF;
    font-size: 15px;
    border-bottom:2px solid rgb(195, 157, 99); 
}
.introHeader{
    margin-bottom: 30px;
}
.introHeader h2{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.introText p{
    font-size: 15px;
    line-height: 25px;
  
}
.introText{
    margin-bottom: 30px;

}
.introView{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.introView a{
    text-decoration:none;
    border:2px solid rgb(195, 157, 99);
    background:rgb(195, 157, 99);
    padding:10px 20px;
    color: white;

    
}
.introView a br.hideIntroView {
    display: none;
}
/*Responsiveness of IntroMenu*/
@media(max-width:729px){
    .introTitle h4, .introHeader h2, .introText p, .introView{
    margin-left: 40px;
    margin-right: 40px;
    }
    .menuOneText{
        height: auto;
    }
}
@media(max-width:320px){
    .introHeader h2{
        font-size: 38px;
    }
}
@media(max-width:276px){
    .introHeader h2{
        font-size: 29px;
    }
}
@media(max-width:202px){
    .introView a{
    padding:10px 5px;
}
}
@media(max-width:182px){
    .introView a br.hideIntroView {
        display: block;
}
}
@media(max-width:179px){
    .introHeader h2{
        font-size: 22px;
    }
} 

/*Menu Container*/
.menuPhoto{
    background-color: #1f1f1f;
    padding-left:50px;
    padding-right: 50px;
}
.menuContainer{
    max-width: 1280px;
    margin:0 auto;
}
.menuBody{
    padding-left:30px;
    padding-right: 30px;;
}
.menuOne{
    height: 327px;
    display: flex;
    width: 100%;
}

.menuOneText{
    width: 33.3333333333%;
    height: 327px;
    background-color:#ffffff; 
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
   
}
.menuOneText h3{
    line-height: 1.3em;
    font-weight: 400;
    color: #c39d63;
    font-size:22px;
    text-align: center;
    padding-top: 5px;
}
.menuOneText h2{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 24px;
    color: #1f1f1f!important;
    line-height: 1.3em;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
  
}
.menuOneText p{
    color:#959595;
    font-size:15px;
    line-height: 1.8em;
    text-align: center;
    padding-top: 10px;}
.menuPhotoContainer{
    width: 33.3333333333%;
    height: 327px;
}
.menuOnePhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-07.jpg);
        height: 327px;
        padding-top: 48px;
        padding-right: 24px;
        padding-bottom: 48px;
        padding-left: 24px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
       
}
/*Row one  in menu*/
.menuTwo{
    height: 327px;
    display: flex;
    width: 100%;
}
.menuTwoPhotoContainer{
        width: 33.3333333333%;
        height: 327px;
}
 .menuTwoPhoto{
    background-image: url(https://43l1tg43uhtp127pwg1r5rys-wpengine.netdna-ssl.com/wp-content/uploads/2018/10/pumpkin-pie-recipe-photo-800x500.jpeg);
        height: 327px;
        padding-top: 48px;
        padding-right: 24px;
        padding-bottom: 48px;
        padding-left: 24px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        background-position: center;
}
 .menuThreePhotoContainer{
    width: 33.3333333333%;
    height: 327px;
}
.menuThreePhoto{
background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-08.jpg);
    height: 327px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
/*Row three in menu*/
.menuThree{
    height: 327px;
    display: flex;
    width: 100%;
}
.menuFourPhotoContainer{
    width: 33.3333333333%;
    height: 327px; ;
}
.menuFourPhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-06.jpg);
    height: 327px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
/*Row four in menu*/
.menuFour{
    height: 327px;
    display: flex;
    width: 100%;
}
.menuFivePhotoContainer{
    width: 33.3333333333%;
    height: 327px; ;
}
.menuFivePhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-05.jpg);
    height: 327px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.menuSixPhotoContainer{
    width: 33.3333333333%;
    height: 327px; ;
}
.menuSixPhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-03.jpg);
    height: 327px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
/*Responsiveness of row one in menu*/
@media(max-width:967px){
    .menuOne, .menuTwo,.menuThree, .menuFour {
        flex-flow: column;
    }
  .menuOne{
      height: auto;
  }
  .menuOnePhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-07.jpg);
    width: 100%;
    height: 200px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.menuBody{
    width: 100%;
 }
 .menuOneText{
     width: 100%;
     height: auto;
 }
 .menuPhotoContainer{
    width: 100%;
    height: auto;
 }
}
/*Responsiveness of row two in menu*/
@media(max-width:967px){
    .menuTwo{
        height: auto;
    }
    .menuTwoPhotoContainer{
        width: 100%;
        height: auto;
    }
    .menuTwoPhoto{
        width: 100%;
        background-position: center;
    }
    .menuThreePhotoContainer{
        width: 100%;
        height: auto;
    }
    .menuThreePhoto{
        width: 100%;
    }
}
/*Responsiveness of row three in menu*/
@media(max-width:967px){
    .menuThree{
        height: auto;
    }
    .menuFourPhotoContainer{
        width: 100%;
        height: 327px;
    }
    .menuFourPhoto{
        width: 100%;
    }
   
}
/*Responsiveness of row four in menu*/
@media(max-width:967px){
    .menuFour{
        height: auto;
    }
    .menuFivePhotoContainer{
        width: 100%;
        height: 327px;
    }
    .menuFivePhoto{
        width: 100%;
    }
    .menuSixPhotoContainer{
        width: 100%;
        height: 327px;
    }
    .menuSixPhoto{
        width: 100%;
    }
}
/*Testtimonials*/
.review{
    margin-top: 100px;
   
}
.reviewContainer{
    max-width: 1280px;
    margin:0 auto;
}
/*Responsiveness of  review of stars*/
@media(max-width:320px){
   .reviewHeader .introHeader h2{
        font-size: 38px;
    }
}
@media(max-width:276px){
    .reviewHeader .introHeader h2{
        font-size: 29px;
    }
}
#carousel{
    margin-top: 100px;
    background: rgba(0,0,0,0.03);
}
.carouselContainer{
    max-width: 1900px;
    margin:0 auto;
    padding-top: 100px; 
    padding-bottom: 100px;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
}
#carousel h2 {
    color: black;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size:35px;
    line-height: 1.5;
    text-align:center;
    padding-top: 20px;
}
#carousel p{
    padding-top: 20px;  
    color: grey;
    font-size:20px;
    text-align: center;
}
#carousel em{
    text-align: center;
    font-size: 18px;
}
.testimonial-image{
    width: 45%;
    border-radius: 100%;
}
.carousel-item{
    padding: 7% 15%;
    background-color:#ededed;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.photoCarousel{
    display: flex;
    justify-content: center;
}
/*News Header*/
.introHeader p{
    text-align: center;
    color: gray;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*News*/
.news{
    max-width: 1400px;
    margin:0 auto;
}
.newsContainer{
    padding-left:50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.newsBody{
    padding-left: 15px;
}
.newsHeader h2 a{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: black;
    text-decoration: none;   
}
.newsCategory h4 span{
    color:  rgb(195, 157, 99);
    font-size: 15px; 
}
/*Flexbox style*/
.OneContainer{
    width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color:#eeee;
    margin-top: 30px;
    border-radius: 10px;
}
.OneContainer .image img{
    height: 250px;
    width: 400px;
}

.OneContainer .image, .OneContainer .header h3{
    display: flex;
    justify-content: center;
}
.OneContainer .header p.text{
    text-align: center;
}
.OneContainer .header p.price{
    margin: 10px 10px;
}
.OneContainer .header p.currentPrice{
    margin: 10px 10px 20px 10px;
    color: black;
    font-size:20px;
    font-weight: bold;
}
.linkMore {
    margin-top:40px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;;
}
.linkMore a{
    text-decoration:none;
    border:2px solid rgb(195, 157, 99);
    background:rgb(195, 157, 99);
    padding:10px 20px;
    color: white;
}
/*Reservation & Contact Form*/
.reservation{
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center;
    background-size: cover;
    width: 100%;
    transition:0.5s all;
}
.reservationContainer{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.contactBody input{
    display: block;
}
.reservationHour, .contactForm{
    width:47.25%;
    margin-right: 5.5%;
    background: #1f1f1f;
/*     margin-top: 150px; */
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 150px;
    margin-bottom: 180px;
}
.reservationHour{
  margin-left: 5.5%;
}
.reservationHour h3, .reservationHour p, .reservationHour strong{
    color: white;
}
.reservationHour h3{
    text-align: center;
    margin:80px 0px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 33px;;
}
.reservationHour p{
    line-height: 1.9em;
    text-align: center;

}
.reservationHour p {
    border-bottom: 2px solid #c39d63 ;
}
.newsLink {
    margin-top:40px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;;
}
.newsLink a{
    text-decoration:none;
    border:2px solid rgb(195, 157, 99);
    background:rgb(195, 157, 99);
    padding:10px 20px;
    color: white;
}
.contactForm h3, .contactForm p{
    color: white;
}
.contactHeader h3{
    text-align: center;
    margin-top:50px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 33px;;
}
.contactBody{
    margin-top: 30px;
}
.contactBody h3{
    color: white;
    text-align: center;
    margin-top:50px;
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 33px;;
}
.contactBody p{
    text-align: center;
}
.contactBody p input{
    width: 90%;
}
.contactBody p  input[type="text"], .contactBody input[type="email"]{
    background-color:black;
    border: none;
    padding: 14px 4%;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }
  .reservationContainer{
      margin-bottom: 50px;;
  }