@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
    font-family: 'Montserrat', sans-serif;
}

/* Menu Navbar*/
.navbarBackground{
    background: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)),url('../image/logo2.jpg') no-repeat center center fixed;
    height: 800px;
    background-size: cover;
    width: 100%;
    transition:0.5s all;
}
.navbarContainer{
    max-width: 1300px;
    margin:0 auto;
}
.navbar{
    width: 100%;
}
.navbar ul{
    list-style: none;
} 
.navbar label.navbarImage{
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
     padding-left:30px;
    padding-right:10px;
    font-family: 'Alex Brush', cursive;
    text-shadow: 0px 10px 10px #234D3C;
}
.navbar ul{
    float: right;
    margin-right: 20px;
    
}
.navbar ul li{
    display: inline-block;
    margin: 0 5px;
    line-height:80px;
}
.navbar ul li a{
    text-decoration:none; 
    text-transform: uppercase;
    padding: 7px 13px;
    font-size: 16px;
    color: white;
    border-radius: 0px;
}
.navbar ul li a:hover{
    transition: 0.5s;
  /*   background: #A9C3BC; */
    border-top:3px solid rgb(195, 157, 99);
    border-bottom: 3px solid rgb(195, 157, 99);
}
label i.fa-bars{
    display: none;
}
.br {
    display: none;
}
/* Menu Navbar Respomsiveness*/
input{
    display: none;
}
@media(max-width:729px){
    label i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:white;
        float: right;
        line-height: 80px;
    }
   .navbar ul{
        position: fixed;
        width: 100%;
        height: 720px;
        background: #7F7F7F;
        text-align: center;
        transition: all 0s;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    #check:checked~ul{
        left: 0;
    }
    .navbar ul li a:hover{
        border-top:none;
        border-bottom:none;
        border-left:3px solid rgb(195, 157, 99);
        border-right:3px solid rgb(195, 157, 99);
    }
  .navbar label.navbarImage{
    display: block;
    padding: 0px;
    font-size: 20px;
    padding-left: 10px;
    line-height: 20px;
    padding-top:25px;
}
.br{
    padding-top: -5px;
}
}
@media(max-width:172px){
    .navbar ul{
        top:100px;
    }
}

@media(max-width:156px){
    .navbar label.navbarImage{
        font-size: 15px;
    }
}
/*Motto Navbar*/
.motoContainer{
    max-width: 1300px;
    margin:0 auto;
    padding-top:80px;
}
.mottoHeader{
    display: flex;
    justify-content: center;
   
}
.motoContainer br.break{
    display: none;;
}
.mottoHeader h2{
    font-family: 'Tangerine', cursive;
    margin-top:80px;
    color:white;
    font-size:90px;
    word-spacing: 3px;
    letter-spacing: 3px;
    line-height: 100px;
}
@media(max-width:729px){
    .mottoHeader 
        {
            max-width: 500px;;
            display: flex;
            justify-content: center;    
        }
    .mottoHeader h2{
        font-size:70px;
    }
}
@media(max-width:452px){
 
    .mottoHeader h2{
        font-size:50px;
        
    }
}
@media(max-width:304px){
    
    .motoContainer br.break{
        display: block;
    }
    .mottoHeader h2{
        font-size:50px;
        line-height: 80px;;
       
    }
}
/*About*/
.aboutContainer{
    max-width: 1300px;
    margin:0 auto;
}
.about{
    margin-top:100px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left:50px;
    padding-right: 50px;;
}
.text{
    margin-right:70px;
    margin-top:20px;
}
.text h4 span{
    color: #BFBFBF;
    font-size: 15px;
    border-bottom:2px solid rgb(195, 157, 99);
}
.titleText h4{
    margin-bottom: 30px;
 
}
.headerText h2{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
   
}
.headerText{
    margin-bottom: 30px;
}
.bodyText p{
  font-size: 15px;
  line-height: 30px;
}
.bodyText p span.hi{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.image img{
    width: 500px;
    height:800px;
    border-radius:5px;
}
@media(max-width:1172px){
    .hide{
        display: none;
    }
}
@media(max-width:1040px){
    .hideOne{
        display: none;
    }
}
@media(max-width:975px){
    .image img{
        width: 500px;
        border-radius:5px;
    }
}
@media(max-width:952px){
    .hide{
        display: none;
    }
    .hideOne{
        display: none;
    }
    .image img{
        width: 450px;
        height: 800px;
    } 
    .text{
        margin-top:0px;
    } 
}
@media(max-width:873px){
    .bodyText p{
        line-height: 25px;
     } 
}
@media(max-width:867px){
    .image img{
        width: 410px;
        height: 800px;
    } 
   
}
@media(max-width:841px){
    .bodyText p{
        line-height: 25px;
     } 
}
@media(max-width:823px){
   
    .bodyText p{
        font-size: 15px;
        line-height: 20px;
    }
    .hideOne{
        display: none;
    }
}

@media(max-width:823px){
    .image img{
        width: 410px;
        height: 800px;
    } 
   
}
@media(max-width:770px){
    .text{
        margin-right: 30px;
    }
    .image img{
        width: 400px;
        height: 700px;
    } 
}
@media(max-width:729px){
    .about{
    flex-flow: column-reverse;
    }
    .text{
        padding-top:80px;
        margin-right: 0px;
    }
    .titleText h4 span{
            margin-left: 20px;;
    }
    .titleText, .headerText{
        display: flex;
        justify-content: center;    
    }
    .about{
        padding-left:30px;
        padding-right: 30px;;
    }
    .bodyText p{
        text-align: center;
        margin: 0 auto;
     } 
    .image{
        
        display: flex;
        justify-content: center;
    }
    .image img{
        width: 250px;
        height: 350px;
    }  
    }
    @media(max-width:323px){
        .image img{
            width: 220px;
            height: 320px;
        }  
    } 
    @media(max-width:320px){
        .headerText h2{
            font-size: 38px;
        }
    }
 
    @media(max-width:276px){
        .headerText h2{
            font-size: 29px;
        }
        .bodyText p{
            font-size: 12px;
        }
    }
    @media(max-width:272px){
        .image img{
            width: 200px;
            height: 300px;
        } 
    }
    @media(max-width:237px){
        .headerText h2{
            font-size: 25px;
        }
    } 
 
    @media(max-width:227px){
        .image img{
            width: 150px;
            height: 200px;
        }  
    } 
    @media(max-width:171px){
        .image img{
            width: 100px;
            height: 150px;
        }  
    }
/*Menu Introduction*/
.menuIntro{
    margin-top:100px;
    background:  rgba(0,0,0,0.03);
}
.menuIntroContainer{
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    flex-flow: column;
    padding-top: 100px;
  
    
}
.menuOne{
    background-color: #ffffff;
}
.introTitle h4, .introHeader h2, .introText p, .introView{  
    text-align: center;
}
.introTitle{
    margin-bottom: 30px;
}
.introTitle h4 span{
    color: #BFBFBF;
    font-size: 15px;
    border-bottom:2px solid rgb(195, 157, 99); 
}
.introHeader{
    margin-bottom: 30px;
}
.introHeader h2{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}
.introText p{
    font-size: 15px;
    line-height: 25px;
  
}
.introText{
    margin-bottom: 30px;

}
.introView a{
    text-decoration:none;
    border:2px solid rgb(195, 157, 99);
    background:rgb(195, 157, 99);
    padding:10px 20px;
    color: white;
    
}
.introView{
    padding-bottom: 100px;
}
.introView a br.hideIntroView {
    display: none;
}
/*Responsiveness of IntroMenu*/


@media(max-width:729px){
    .introTitle h4, .introHeader h2, .introText p, .introView{
    margin-left: 40px;
    margin-right: 40px;
    }
}
@media(max-width:320px){
    .introHeader h2{
        font-size: 38px;
    }
}
@media(max-width:276px){
    .introHeader h2{
        font-size: 29px;
    }
}
@media(max-width:202px){
    .introView a{
    padding:10px 5px;
}
}
@media(max-width:182px){
    .introView a br.hideIntroView {
        display: block;
}
}
@media(max-width:179px){
    .introHeader h2{
        font-size: 22px;
    }
} 

/*Menu Container*/
.menuPhoto{
    background-color: #1f1f1f;
    padding-left:50px;
    padding-right: 50px;;
}
.menuContainer{
    max-width: 1280px;
    margin:0 auto;
}
.menuBody{
    padding-left:30px;
    padding-right: 30px;;
}
.menuOne{
    height: 315px;
    display: flex;
    width: 100%;
}

.menuOneText{
    width: 33%;
    height: 315px;
     background-color:red; 
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
   
}
.menuOneText h3{
    line-height: 1.3em;
    font-weight: 400;
    color: #c39d63;
    font-size:22px;
    text-align: center;
    padding-top: 5px;
}
.menuOneText h2{
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 24px;
    color: #1f1f1f!important;
    line-height: 1.3em;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
  
}
.menuOne p{
    color:#959595;
    font-size:15px;
    line-height: 1.8em;
    text-align: center;
    padding-top: 10px;}
/* padding-top: 48px;
padding-right: 24px;
padding-bottom: 48px;
padding-left: 24px; */

/* .menuOnePhoto img {
    transition:0.5s all;
    width:410px;
    height:315px; 
} */
.menuPhotoContainer{
    width: 33.3333%;
    height: 327px;
}
.menuOnePhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-07.jpg);
    /*     background-size: cover; */
     
    /*     padding-bottom: calc(100% * 3 / 4);
        background-position: center center; */
        height: 327px;
        padding-top: 48px;
        padding-right: 24px;
        padding-bottom: 48px;
        padding-left: 24px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
       
}


.menuTwo{
    display: flex;
}
.menuThree{
    display: flex;
}
.menuFour{
    display: flex;
}
@media(max-width:967px){
    .menuOne, .menuTwo, .menuThree, .menuFour{
        flex-flow: column;
    }
  .menuOne{
      height: auto;
  }
  .menuOnePhoto{
    background-image: url(https://www.elegantthemes.com/layouts/wp-content/uploads/2017/12/food-07.jpg);
/*     background-size: cover; */
    width: 100%;
/*     padding-bottom: calc(100% * 3 / 4);
    background-position: center center; */
    height: 200px;
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.menuBody{
    width: 100%;
 }
 .menuOneText{
     width: 100%;
     margin-top: 30px;;
 }
 .menuPhotoContainer{
    width: 100%;
 }
  }
